.divHeader{
    background-color: #22bb95;
    border-radius: 15px 45px 15px 45px;
    text-align: center;
    font-size: 150%;
}

.divFooter{
    background-color: #22bb95;
    border-radius: 15px;
    text-align: left;
    font-size: 100%;
}

.parrafoBody{
    font-family: 'Patrick Hand', cursive;
    font-size: 150%;
    background-color: #22bb95;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.headerText{
    font-family: 'Patrick Hand';
}

.title{
    font-family: "bebas neue";
    font-size: 250%;
}

.divBody{
    margin-top: 1%;
    background-color: #a7246ca4;
    border-radius: 45px;
    text-align: center;
    padding-bottom: 1%;
}

.imgBody{
    padding-top: 2%;
}

a{
    color: rgba(124, 27, 80, 0.643)
}

footer{
    font-family: 'Patrick Hand', cursive;
}