.divHeader{
    background-color: #cea520;
    border-radius: 15px 45px 15px 45px;
    text-align: center;
    font-size: 150%;
}

.divFooter{
    background-color: #cea520;
    border-radius: 15px;
    text-align: left;
    font-size: 100%;
}
.buttonStyle{
    background-color: #09381b;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:#cea520;
    font-family: 'Patrick Hand', cursive;
    font-size: 125%;
}

.buttonStyleInvert{
    background-color: #cea520;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:#09381b;
    font-family: 'Patrick Hand', cursive;
    font-size: 125%;
    border-color: #cea520;
}
.buttonStyleInvert:visited{
    background-color: #cea520 !important;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:#09381b;
    font-family: 'Patrick Hand', cursive;
    font-size: 125%;
    border-color: #cea520;
}
.buttonStyleInvert:hover{
    background-color: #d6b548 !important;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:#09381b;
    font-family: 'Patrick Hand', cursive;
    font-size: 125%;
    border-color: #d6b548;
}
.buttonStyleInvert:active{
    background-color: #cea520 !important;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Fredoka', sans-serif;
    color:#09381b;
    font-family: 'Patrick Hand', cursive;
    font-size: 125%;
    border-color: #cea520;
}


.parrafoBody{
    font-family: 'Patrick Hand', cursive;
    font-size: 150%;
    background-color: #cea520;
    border-radius: 15px;
    padding-left: 3%;
    padding-right: 3%;
}

.headerText{
    font-family: 'Patrick Hand';
}

.title{
    font-family: "bebas neue";
    font-size: 250%;
    color:#cea520;
}

.titleHeader{
    font-family: "bebas neue";
    font-size: 250%;
    color: #001f07;
}

.divBody{
    margin-top: 1%;
    background-color: #09381b;
    border-radius: 45px;
    text-align: center;
    padding-bottom: 1%;
}

.imgBody{
    padding-top: 2%;
}

a{
    color: #09381b;
}

footer{
    font-family: 'Patrick Hand', cursive;
}

body{
    background-color: #001f07;
}

.input{
    background-color: #3aad66;
    border-color: #3aad66;
    outline: none;
}

.input::placeholder{
    color:#09381b;
}

.input:focus{
    background-color: #3aad66;
    border-color: #3aad66;
    outline: none;
    color: #001f07;
}

label{
    font-family: "bebas neue";
    font-size: 150%;
    color: #cea520;
}